h1{
  padding-top: 25px;
}
.h{
  color:#FFBD59;
  font-size: 25px;
}

body {
  text-align: center;
  background: url("./images/cortex-bg.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}
audio
{
  padding:0px;
}

#board {
  width: 540px;
  height: 540px;
  /* background-color: green; */

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  background: url("./images/soil.png");
  background-size: cover;
  border: 3px solid white;
  border-radius: 25px;
}

#board div {
  /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
  width: 180px; 
  height: 180px;
  background-image: url("./images/pipe.png");
  background-size: cover;
}

#board div img {
  /* all img tags inside tiles */
  width: 100px;
  height: 100px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

nav {
  background-color: #004a72;
  overflow: hidden;
  position: fixed; /* Fix the navigation bar to the top */
  width: 100%; /* Full width */
  top: 0; /* Top of the viewport */
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ffb700;
  /*color: #ddd;
  background-color: #ddd;
  color: #ffb700;*/
}
@media screen and (max-width: 600px) {
  nav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }
}

footer {
  background-color: #004a72;
  overflow: hidden;
  color: white;
  column-count: 2;
  text-align:left;
  font-weight: bold;
}

#CONTACT div{
  column-span: none;
}